.accordion-section {
	border-bottom: 1px solid rgba(black, .2);
	
	&:first-of-type {
		@include box-shadow(0 -1px 0 rgba(black, .3));
	}
}

.accordion-header {
	background: #ddd;
	@include background-image(linear-gradient( #f5f5f5, #d3d2d2 ));
	@include box-shadow(inset 0 -1px 0 rgba(white, .5), 0 2px 2px rgba(black, .1));
	color: #444;
	font-weight: bold;
	min-height: $global-row-height;
	padding: .65em .8em;
	text-shadow: 0 1px 0 white;

	&::before {
		content: '\25b6'; // ▶
		display: inline-block;
		font-size: small;
		margin-right: .5em;
		vertical-align: 1px;
		width: 1.4em;
	}
	
	.selected & {		
		&::before {
			content: '\25bc'; // ▼
		}
	}
}

.accordion-body {
	border-top: 1px solid rgba(black, .2);
	color: #333;
	display: none;
	text-shadow: 0 1px 1px white;
	
	.selected & { display: block; }
	
	.x-list {
		background: none;
	}
	
	.x-list-inner {
		padding: 0;
	}
	
	.x-list-item-body {
		padding: .65em 1.3em;
		
		.x-innerhtml {
			padding: 0;
		}
	}
	
	li {
		@include transition(background 1.25s 250ms ease-out);
		
		&.touched {
			background: rgba(white, .5);
			@include transition(none);
		}
		
		&.touch-canceled {
			@include transition(none);
		}
	}
	
	label,
	input {
		pointer-events: none;
	}
	
	img {
		border: 1px solid rgba(black, .4);
		@include box-shadow(0 1em 1em -1em rgba(black, .4));
		display: block;
		height: auto;
		margin: 0 0 1.5em;
		width: 100%;
	}
	
	h1 {
		font-weight: bold;
	}	
}